*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Century Gothic;
    background: #333;
    color: #ff926b;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y:scroll ;
    scroll-behavior: smooth;
    scroll-snap-type:y mandatory ;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))
}

.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li{
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fccbcb;
}
.navbar ul li a:hover {
    color: #ffc38b;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1{
   font-size: 4rem;
}

section p{
    font-size: 1.5rem;
}

section#home{
    background: url('image/img-1.jpg') no-repeat center center/ cover;
}

section#contact{
    background: url('image/lala-azizli-348b7ot0Ea8-unsplash.jpg') no-repeat center center/ cover;
}

section#about{
    background: url('image/mohammadreza-alidoost-0rUp9vgyEYo-unsplash.jpg') no-repeat center center/ cover;
}

section#services{
    background: url('Image/nubelson-fernandes-VWknHPYlXp0-unsplash.jpg') no-repeat center center/ cover;
}

section#Galary{
    background: url('Image/mohammadreza-alidoost-NkofDppdCQw-unsplash.jpg') no-repeat center center/ cover;
} 